# =========================
# Nextflow runtime
# =========================
work/
results/
.nextflow/
.nextflow*

# =========================
# Nextflow reports
# =========================
timeline.html
report.html
trace.txt
dag.*

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# macOS
# =========================
.DS_Store

# =========================
# VS Code
# =========================
.vscode/