manifest {
    name        = 'MAGFlow'
    version     = '1.0.0'
    author      = 'Hassan Afrad'
    homePage    = 'https://github.com/hassanafrad/MAGFlow'
    description = 'A modular workflow for metagenome-assembled genome (MAG) reconstruction from Illumina metagenomic sequencing data.'
}

params {
    metadata    = 'input/metadata.csv'
    fastq_dir   = '/lustre/scratch124/pam/teams/team216/lb34/results/fastqs'

    scratch = '/lustre/scratch124/pam/teams/team216/lb34/ha7'
    outdir = "${params.scratch}/MAGFlow_results"

    max_cpus    = 32
    max_memory  = '128 GB'
    max_time    = '48h'

    assembler   = 'metaspades'
    host_removal = 'bowtie2'

    dastool_score_threshold = 0.5

    /*
    * CoverM abundance metrics
    */
    coverm_methods = [
        'relative_abundance',
        'mean',
        'covered_fraction'
    ]

    coverm_min_covered_fraction = 10

}

workDir = "${params.scratch}/MAGFlow_work"

includeConfig 'conf/references.config'

profiles {

    farm22 {
        includeConfig 'conf/farm22.config'
    }

    test {
        includeConfig 'conf/farm22.config'
        includeConfig 'conf/test.config'
    }
}
