/*
 * ============================================================================
 * MAGFlow
 * Farm22 Configuration
 * ============================================================================
 */

process {

    executor = 'lsf'

    queue = 'long'

    cpus = 16

    memory = '32 GB'

    time = '24h'

    /*
     * ---------------------------
     * FASTP
     * ---------------------------
     */

    withName: FASTP {

        cpus = 16

        memory = '32 GB'

        time = '6h'

        beforeScript = '''
        module load fastp/0.23.4--hadf994f_2
        '''
    }

    /*
     * ---------------------------
     * Bowtie2 Host Removal
     * ---------------------------
     */

    withName: BOWTIE2_HOST_REMOVAL {
        cpus = 16
        memory = '32 GB'
        time = '12h'

        beforeScript = '''
        module load bowtie2/2.5.1--py38he00c5e5_2
        module load samtools/1.21
        '''
    }
    
    /*
     * ---------------------------
     * metaSPAdes Assembly
     * ---------------------------
     */

    withName: METASPADES {

        cpus = 16

        memory = '128 GB'

        time = '48h'

        beforeScript = '''
        module load spades/4.1.0
        '''
    }

    /*
    * ---------------------------
    * MetaBAT2
    * ---------------------------
    */

    withName: METABAT2 {

        cpus = 16

        memory = '64 GB'

        time = '24h'

        beforeScript = '''
        module load PaM/environment
        module load metabat2/2.15--h4da6f23_2
        '''
    }

    /*
    * ---------------------------
    * CONCOCT
    * ---------------------------
    */

    withName: CONCOCT {

        cpus = 16

        memory = '64 GB'

        time = '24h'

        beforeScript = '''
        module load PaM/environment
        module load concoct/1.1.0--py311h245ed52_4
        '''
    }

    /*
    * ---------------------------
    * MAXBIN2
    * ---------------------------
    */

    withName: MAXBIN2 {

    cpus = 16

    memory = '64 GB'

    time = '24h'

    beforeScript = '''
    module load ISG/conda
    source $(conda info --base)/etc/profile.d/conda.sh
    conda activate /lustre/scratch124/pam/teams/team216/lb34/ha7/conda_envs/magflow-binning
    '''
    }

    /*
    * ---------------------------
    * DAS Tool
    * ---------------------------
    */

    withName: DASTOOL {

        cpus = 16

        memory = '64 GB'

        time = '24h'

        beforeScript = '''
        module load PaM/environment
        module load das_tool/1.1.7--r43hdfd78af_0
        '''
    }

    withName: CHECKM2 {

        cpus = 8
        memory = '32 GB'
        time = '8h'
}

}

/*
 * ============================================================================
 * LSF Executor
 * ============================================================================
 */

executor {

    perJobMemLimit = true

}
