/*
 * ============================================================================
 * MAGFlow
 * Farm22 Configuration
 * ============================================================================
 */

process {

    executor = 'lsf'

    queue = 'long'

    cpus = 16

    memory = '32 GB'

    time = '24h'

    /*
     * ---------------------------
     * FASTP
     * ---------------------------
     */

    withName: FASTP {

        cpus = 16

        memory = '32 GB'

        time = '6h'

        beforeScript = '''
        module load fastp/0.23.4--hadf994f_2
        '''
    }

    /*
     * ---------------------------
     * Bowtie2 Host Removal
     * ---------------------------
     */

    withName: BOWTIE2_HOST_REMOVAL {

        cpus = 16

        memory = '32 GB'

        time = '12h'

        beforeScript = '''
        module load bowtie2/2.5.1--py38he00c5e5_2
        module load samtools/1.21
        '''
    }

}

/*
 * ============================================================================
 * LSF Executor
 * ============================================================================
 */

executor {

    perJobMemLimit = true

}
