/*
 * ============================================================================
 * MAGFlow
 * Test Configuration
 * ============================================================================
 */

process {

    queue = 'basement'

    withName: FASTP {
        cpus = 2
        memory = '4 GB'
        time = '30m'
    }

    withName: BOWTIE2_HOST_REMOVAL {
        cpus = 2
        memory = '4 GB'
        time = '1h'
    }

    withName: METASPADES {
        cpus = 4
        memory = '16 GB'
        time = '2h'
    }

    withName: BOWTIE2_BUILD_INDEX {
        cpus = 2
        memory = '4 GB'
        time = '30m'
    }

    withName: BOWTIE2_MAP {
        cpus = 2
        memory = '4 GB'
        time = '30m'
    }

    withName: METABAT2 {
        cpus = 2
        memory = '8 GB'
        time = '30m'
    }

    withName: CONCOCT {
        cpus = 2
        memory = '8 GB'
        time = '1h'
    }

    withName: MAXBIN2 {
        cpus = 4
        memory = '16 GB'
        time = '2h'
    }

    withName: DASTOOL {
        cpus = 4
        memory = '16 GB'
        time = '2h'
    }

    withName: CHECKM2 {
        cpus = 4
        memory = '16 GB'
        time = '2h'
    }

    withName: GTDBTK {
        cpus = 4
        memory = '16 GB'
        time = '2h'
    }
}

params {

    metadata = "${projectDir}/assets/test_data/MAGFlow_test_100k.csv"

    dastool_score_threshold = 0

}