manifest {
    name = 'MAGFlow CATI downstream feature analyses'
    version = '0.2.0'
    description = 'Incremental standalone AMR, virulence, functional and MAG genome-comparison workflow.'
}

params {
    input = null
    all_input = null
    outdir = null
    batch_id = null
    work_dir = null
    amrfinder_db = null
    vfdb_db = null
    eggnog_data = null
    trace_file = null

    vfdb_min_identity = 80
    vfdb_min_query_cover = 70
    vfdb_evalue = '1e-10'
    eggnog_sensitivity = 'sensitive'
    eggnog_options = ''
    amrfinder_organism = ''

}

workDir = params.work_dir ?: "${params.outdir ?: projectDir}/work"

process {
    errorStrategy = 'terminate'
    cpus = 4
    memory = '8 GB'
    time = '4h'

    withName: AMRFINDER {
        cpus = 4
        memory = '8 GB'
        time = '4h'
        conda = "${projectDir}/envs/amrfinder.yml"
    }
    withName: VFDB_SEARCH {
        cpus = 4
        memory = '8 GB'
        time = '4h'
        conda = "${projectDir}/envs/diamond.yml"
    }
    withName: EGGNOG_ANNOTATE {
        cpus = 8
        memory = '32 GB'
        time = '12h'
        conda = "${projectDir}/envs/eggnog.yml"
    }
    withName: STRAIN_FASTANI {
        cpus = 4
        memory = '8 GB'
        time = '8h'
        conda = "${projectDir}/envs/fastani.yml"
    }
    withName: COLLATE_FEATURES {
        cpus = 1
        memory = '2 GB'
        time = '1h'
        conda = "${projectDir}/envs/python.yml"
    }
}

profiles {
    conda { conda.enabled = true }
    farm22 {
        process.executor = 'lsf'
        process.queue = 'long'
        process {
            withName: AMRFINDER {
                conda = '/data/pam/ha7g/scratch/conda_envs/cati-downstream-amrfinder'
            }
            withName: VFDB_SEARCH {
                conda = '/data/pam/ha7g/scratch/conda_envs/cati-downstream-diamond'
            }
            withName: EGGNOG_ANNOTATE {
                conda = '/data/pam/ha7g/scratch/conda_envs/cati-downstream-eggnog'
            }
            withName: STRAIN_FASTANI {
                conda = '/data/pam/ha7g/scratch/conda_envs/cati-downstream-fastani'
            }
            withName: COLLATE_FEATURES {
                conda = '/data/pam/ha7g/scratch/conda_envs/cati-downstream-python'
            }
        }
    }
}

trace {
    enabled = true
    file = params.trace_file ?: "${params.outdir ?: projectDir}/trace.txt"
    overwrite = true
}
